@import "bootstrap";
@import "animate";

body{
  padding-top: 55px;
  a{
    color: white;
    &:hover,
    &:focus,
    &:active{
      color: $gray;
      background-color: $brand-primary;
    }
  }
}

.auth-container{
  .nav{
    li{
      a{
        color: white;
        &:hover,
        &:focus{
          color: white;
          background-color: $brand-primary;
        }
      }
      &.active a{
        background-color: $brand-primary;
      }
    }
  }

  form{
    padding: 20px;
  }
}
@font-face {
  font-family: 'digitalstripcyrillicregular';
  src: url('../fonts/chat/digitalstripcyrillic-webfont.eot');
  src: url('../fonts/chat/digitalstripcyrillic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/chat/digitalstripcyrillic-webfont.woff2') format('woff2'),
  url('../fonts/chat/digitalstripcyrillic-webfont.woff') format('woff'),
  url('../fonts/chat/digitalstripcyrillic-webfont.ttf') format('truetype'),
  url('../fonts/chat/digitalstripcyrillic-webfont.svg#digitalstripcyrillicregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
#chat-container {
  font-family: 'digitalstripcyrillicregular', cursive;
  width: 100%;
  margin-bottom: 34px;
  background: url(../img/chat_bg.png);

  .cloud{
    background: url(../img/clouds/1.png) no-repeat;
    &.cloud-1{
      background-image: url(../img/clouds/1.png);
      float: right;

      &.big{
        padding-top: 20px;
      }
    }

    &.cloud-2{
      background-image: url(../img/clouds/2.png);
      height: 90px;
      &.big{
        height: 140px;
      }
      &.vbig{
        height: 180px;
      }
      &.huge{
        height: 220px;
      }
      small{
        bottom: 30px;
      }
    }
    &.cloud-3{
      background-image: url(../img/clouds/3.png);
      float: right;
    }
    &.cloud-4{
      background-image: url(../img/clouds/4.png);
      padding: 24px 54px;
      font-size: 13px;
      height: 80px;
      &.big{
        padding-top: 46px;
        height: 160px;
        font-size: 14px;
      }
      &.vbig{
        font-size: 12px;
        padding-top: 46px;
      }
      &.huge{
        font-size: 12px;
        padding-top: 80px;
        height: 270px;
      }
      strong{
        top: 0px;
        left: 8px;
      }
    }
    background-size: 100% 100%;
    font-size: 20px;
    text-align: center;
    color: black;
    font-variant: small-caps;
    min-width: 50%;
    max-width: 85%;
    height: 75px;
    word-break: break-word;
    position: relative;
    float: left;
    margin: 10px 5px;
    padding: 10px 15px;
    //margin-bottom: -20px;

    &.big{
      font-size: 18px;
      height: 120px;
      //margin-bottom: -25px;
    }
    &.vbig{
      height: 120px;
      font-size: 16px;
      padding-top: 15px;
      //margin-bottom: -30px;
    }
    &.huge{
      font-size: 14px;
      height: 175px;
      padding-top: 25px;
      //margin-bottom: -40px;
    }

    strong{
      display: block;
      position: absolute;
      background: black;
      padding: 4px;
      font-size: 14px;
      border-radius: 15px;
      top: -16px;
      left: -7px;
      color: #3CFF54;
    }
    &.self{
      strong{color: #F552C3;}
    }
    small{
      display: block;
      position: absolute;
      bottom: 13px;
      background: black;
      padding: 2px;
      right: 0;
      font-size: 8px;
      color: white;
    }
  }
}
.smile{
  display: inline-block;
  width: 32px;
}
.container{
  &.smiles-container{
    position: fixed;
    left: 0;
    bottom: 34px;
    background-color: white;
    width: 100%;
    height: 105px;
    overflow-y: scroll;
    border-top: 2px solid $brand-success;
    box-shadow: 0px 0px 20px 1px black;
    text-align: center;
  }
}
.nav{
  &.nav-stacked{

    li{
      border-bottom: 1px solid;
    }
  }
}

.input-group.chat-input input,
.input-group.chat-input button{
  border-radius: 0;
}
.input-group.chat-input button{
  top: 0;
  padding: 6px 12px 7px;
}

//Loading animation
#fountainG{
  //position:relative;
  width:144px;
  height:17px;
  margin:auto;
}

.fountainG{
  position:absolute;
  top:0;
  background:transparent;
  width:17px;
  height:17px;
  animation-name:bounce_fountainG;
  -o-animation-name:bounce_fountainG;
  -ms-animation-name:bounce_fountainG;
  -webkit-animation-name:bounce_fountainG;
  -moz-animation-name:bounce_fountainG;
  animation-duration:2.5s;
  -o-animation-duration:2.5s;
  -ms-animation-duration:2.5s;
  -webkit-animation-duration:2.5s;
  -moz-animation-duration:2.5s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(.3);
  -o-transform:scale(.3);
  -ms-transform:scale(.3);
  -webkit-transform:scale(.3);
  -moz-transform:scale(.3);
  border-radius:11px;
  -o-border-radius:11px;
  -ms-border-radius:11px;
  -webkit-border-radius:11px;
  -moz-border-radius:11px;
}

#fountainG_1{
  left:0;
  animation-delay:1s;
  -o-animation-delay:1s;
  -ms-animation-delay:1s;
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
}

#fountainG_2{
  left:18px;
  animation-delay:1.25s;
  -o-animation-delay:1.25s;
  -ms-animation-delay:1.25s;
  -webkit-animation-delay:1.25s;
  -moz-animation-delay:1.25s;
}

#fountainG_3{
  left:36px;
  animation-delay:1.5s;
  -o-animation-delay:1.5s;
  -ms-animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
  -moz-animation-delay:1.5s;
}

#fountainG_4{
  left:54px;
  animation-delay:1.7s;
  -o-animation-delay:1.7s;
  -ms-animation-delay:1.7s;
  -webkit-animation-delay:1.7s;
  -moz-animation-delay:1.7s;
}

#fountainG_5{
  left:72px;
  animation-delay:2s;
  -o-animation-delay:2s;
  -ms-animation-delay:2s;
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
}

#fountainG_6{
  left:90px;
  animation-delay:2.25s;
  -o-animation-delay:2.25s;
  -ms-animation-delay:2.25s;
  -webkit-animation-delay:2.25s;
  -moz-animation-delay:2.25s;
}

#fountainG_7{
  left:108px;
  animation-delay:2.5s;
  -o-animation-delay:2.5s;
  -ms-animation-delay:2.5s;
  -webkit-animation-delay:2.5s;
  -moz-animation-delay:2.5s;
}

#fountainG_8{
  left:126px;
  animation-delay:3s;
  -o-animation-delay:3s;
  -ms-animation-delay:3s;
  -webkit-animation-delay:3s;
  -moz-animation-delay:3s;
}



@keyframes bounce_fountainG{
  0%{
    transform:scale(1);
    background-color: $brand-primary;
  }

  100%{
    transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
    -o-transform:scale(1);
    background-color:$brand-primary;
  }

  100%{
    -o-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
    -ms-transform:scale(1);
    background-color:$brand-primary;
  }

  100%{
    -ms-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
    -webkit-transform:scale(1);
    background-color:$brand-primary;
  }

  100%{
    -webkit-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
    -moz-transform:scale(1);
    background-color:$brand-primary;
  }

  100%{
    -moz-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}